@model List<Eticaret.Models.Kategori>


@{
    ViewData["Title"] = "Kitap Dükkanı";
    Layout = "_LayoutHomePage";
}

<section class="categories overflow-hidden">
    <div class="container">
        <div class="open-up" data-aos="zoom-out">
            <div class="row">
                @foreach(var item in Model)
                {
                    <div class="col-md-4">
                        <div class="cat-item image-zoom-effect">
                            <div class="image-holder">
                                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.KategoriId">
                                    <img src="@item.KategoriFotoPath" alt="categories" class="product-image img-fluid" style="width:285px;height: 250px;">
                                </a>
                            </div>
                            <div class="category-content">
                                <div class="product-button">
                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.KategoriId" class="btn btn-common text-uppercase">@item.KategoriAd</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
               
            </div>
        </div>
    </div>
</section>
