@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glassmorphism Login Form | CodingNepal</title>
   @*  <link rel="stylesheet" href="style.css"> *@
    <link href="~/css/style.css" rel="stylesheet" />
</head>


<h1>@ViewData["Title"]</h1>

<div class="wrapper">
            <form id="account" method="post">
        <h2>Login</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="input-field">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <label>Enter your email</label>                 
                </div>
        <div class="input-field">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
            <label>Enter your password</label>
               
                </div>
        <div class="forget">
                    <label asp-for="Input.RememberMe" for="remember">
                <input type="checkbox" asp-for="Input.RememberMe" id="remember" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
           
                </div>
                <div>
                    <button id="login-submit" type="submit">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                    </p>
                @*     <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p> *@
                </div>
            </form>
    
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
